# Python virtual environments
django_project/
.django_project/

# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Logs
*.log

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/
